:root{
    box-sizing: border-box;
}

body{

    background-color: bisque;
}

.container{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border-radius: 10px;
}

.result {
    margin: 10px 50px 10px 50px;
}

.selector{
    display: flex;
    width:90px;
    height:90px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    

    
}


#Game-Container{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#Result-Container{
    display: flex;
    justify-content: space-evenly;
  
}

#Win-Loss-Reset-Container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#Gameboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#playervscomp{
    display:flex;
    justify-content: start;
}
#Selection-Conatiner{
    display: flex;
    height: 160px;
    width:  500px;
    background-color: white;
    
    justify-content: space-evenly;
    align-items: center;
}

#playerSelection{
    display: flex;
    height: 160px;
    width: 300px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#computerSelection{
    display: flex;
    height: 160px;
    width: 300px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#winorloss{
    display:flex;
    height: 50px;
    width: 300px;
    background-color: white;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;

}

#rock{
    background-color: red;
}

#paper{
    background-color: greenyellow;

}

#scissors {
    background-color: lightblue;
}

