:root{
    box-sizing: border-box;
}

body{

    background-color: bisque;
}


#Game-Container{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#Result-Container{
    display: flex;
    align-items: center;
    
}

#Win-Loss-Reset-Container{
    display: flex;
    flex-direction: column;

}

#gameBoard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
#playervscomp{
    display:flex;
    justify-content: start;
}
#Selection-Conatiner{
    display: flex;
    height: 200px;
    width:  900px;
    background-color: white;
    
    justify-content: space-around;
    align-items: center;
}

#playerSelection{
    display: flex;
    height: 200px;
    width: 400px;
    background-color: white;
    align-items: center;
    margin-left: 150px;
    margin-top: 50px;
    justify-content: center;
}

#computerSelection{
    display: flex;
    height: 200px;
    width: 400px;
    background-color: white;
    /* margin-left:100px;
    margin-top: 50px; */
    align-items: center;
    justify-content: center;
}

#winorloss{
    display:flex;
    height: 50px;
    width: 300px;
    background-color: white;
    margin-left: 31%;
    margin-top: 15px;
    align-items: center;
    text-align: center;

}

#rock{
    background-color: red;
}

#paper{
    background-color: greenyellow;

}

#scissors {
    background-color: lightblue;
}
.selector{

    width:150px;
    height:150px;
    text-align: center;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    

    
}
